<!DOCTYPE html>
<html lang="en">
<head>
    <!-- <title>
        {% block title %} My Site{% endblock%}
    </title> -->
    <title>
        {% block title %} Flask WTF Form{% endblock%}
    </title>
    <!-- <style>
        body{font-family: Arial, Helvetica, sans-serif; padding: 20px;background-color: white;}
        header,footer {background-color: #333;padding: 10px;color: white;text-align: center;}
        nav a {margin: 0 10 px; color: white; text-decoration: none;}
        main{
            background-color: white;padding: 20px;margin-top: 20px;border-radius:5px ;
        }
    </style> -->

</head>
<body>
    <h1>Flask-WTF Registration</h1>


    {% with messages=get_flashed_messages(with_categories=True) %}
    {% if messages %}
  
        {% for category,msg in messages %}
        <!-- <p class={{category}}>{{msg}}</p> -->
         <p style="color: green;">{{msg}} </p>
        {% endfor %}
  
    {% endif %}
    {% endwith %}
<main>
    {% block content %}{% endblock %}
</main>
    <!-- <footer>
        <p>
            & I AM LEARNING FLASK WITH SAGAR SIR
        </p>
        
    </footer> -->
</body>
</html>